body {
  font-family: Arial, sans-serif;
  background: url('fundo.jpg') no-repeat center center fixed;
  background-size: cover;
 color: #a0b69e;
  margin: 0;
  padding: 0;
background-color: #c7d4bd;
}

nav.menu {
  background-color: #8a9286;
  padding: 10px;
  position: sticky;
  top: 0;
}

nav.menu a{
  color: #819183;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
}

nav.menu :hover {
  text-decoration: underline;
  color: #a9b88e;
}

section {
  padding: 20px;
}

h1, h2, h3, h4 {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #ccc5b9;
  max-width: 700px;
  margin: 50px;
  padding: 25px;
  background-color: #f3efe8;
  border-radius: 60px;
  box-shadow: 0 4px 5px #394039;
  color: #403d39;
}
nav {
  color: rgb(241, 248, 183);
}
.box, .box1, .box2, .box3 {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; background-color:  #a9b8af75;
  font-weight: 100;
  padding: 20px;
  margin: 40px auto;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0,0,0, 0.4);
  max-width: 1000px;
  color: #60725c;
  border-radius: 10px;
}
.Mbt {
   max-width: 1000px;
  margin: 40px auto;
  padding: 10px;
  background-color: #e9e8dd;
  border-radius: 10px;
}
.centro{
  font-size: 1.7em;
  text-align: center;
  color: #61775e;
  font-family: 'Times New Roman', Times, serif;
}
